<!DOCTYPE html>
<html>
<head>
    <title>Event Details</title>
</head>
<body>
<h1>{{ event.name }}</h1>
<p>Description: {{ event.description }}</p>
<a href="/Factory-PHP-Framework/events">Back to Events</a>
</body>
</html>
